# Environment variables for the application

# DATABASE CONFIGURATION
DB_URL=
DB_USER=
DB_PASSWORD=

# CLOUDNARY
CLOUDINARY_URL=

# Secret key for JWT token generation
JWT_SECRET=sua_senha

# URL of the frontend application (for CORS configuration)
FRONTEND_URL=http://localhost:3000